<%- include("partials/header.ejs") %>

<% if (reportedUsername) { %>
    <h2>Welcome, <%= reportedUsername %>!</h2>
<% } %>

<% if (confirmRegistration) { %>
    <% console.log("confirmed"); %>
    <h2><%= confirmRegistration %></h2>
<% } %>

<a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>

<%- include("partials/footer.ejs") %>